@font-face {
    font-family: 'square721_btroman';
    /*src: url('fonts/tt0246m.eot');*/
    /*src: url('fonts/tt0246m.eot?#iefix') format('embedded-opentype');*/
    /*src: url('fonts/tt0246m.woff2') format('woff2');*/
    src: url('fonts/tt0246m.woff') format('woff');
    /*src: url('fonts/tt0246m.ttf') format('truetype');*/
    /*src: url('fonts/tt0246m.svg#square721_btroman') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

html {
    /* set everything to border-box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    min-height: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body
{
    position: absolute;
    width:100%;
    min-height:100%;
    background-color: #444;
    /*color: #555;*/
    font-size: 12px;
    font-family: "square721_btroman";
    line-height: 16.66px; /* 50/3 */
}

.fl { float:left; }
.fr { float:right; }

a
{
    display:block;
    color:inherit;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

a:before
{
    content:"▶";
    /*color:#EB1D21;*/ /* red */
    color:black;
    font-size: 9px;
    padding-right:1em;
}

p a
{
    display:inline;
    text-decoration: underline;
}

p a:before { display:none; }

h1,
h2,
h3,
h4
{
    color:black;
    font-weight: bold;
    position: relative;
}

h1
{
    /*
        manual position tweak to account for weirdness in the font
    */
    position: relative;
    right:1px;

    font-size: 24px;
    text-transform: uppercase;
    line-height: 50px;
}

h2
{
    text-transform: uppercase;
    border-bottom:1px dotted #999;
    margin-bottom: 1em;
    line-height: 50px;
}

h2.tick-left:before,
h2.tick-right:after
{
    content: "";
    position: absolute;
    bottom:-1px;
    width:4px;
    height:0px;
    border-top:1px solid black;
}

h2.tick-left:before { left:0px; }
h2.tick-right:after { right:0px; }


h3
{
    color:#999;
    font-size: 12px;
    margin-top: 33.33px;
    line-height: 16.66px;
}

h4,
span.light
{
    display:inline;
    color:#999;
    font-weight: normal;
    line-height: 16.66px;
}



#content
{
    background: white;

    width:950px;
    padding-top:100px;
    padding-bottom:50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    /* FOR DEBUG ONLY */
    /*border:1px solid grey;*/
}

.col { width:350px; }
.col:first-of-type { float:left;  margin-left:75px;  }
.col:last-of-type  { float:right; margin-right:75px; }


.subcol-2
{
    float:left; 
    margin-left:50px;
    width:150px;
}

.subcol-2:first-of-type
{
    margin-left: 0px;
}

section,
header,
footer
{
    position: relative;
}

header,
footer
{
    border-top:1px dotted #999;
}


header:before,
header:after,
footer:before,
footer:after
{
    content:"";
    display:block;
    position: absolute;
    top:0px;
    width:0px;
    height:4px;
    border-left:1px solid black;
}

header:before { top:0px;  left:0px;   }
header:after  { top:0px;  right:0px; }
footer:before { top:-4px; left:0px;   }
footer:after  { top:-4px; right:0px; }


/* make the print cover the full page */
@media print {

    body
    {
        background: white;
    }

    #content
    {
        padding:0px;
        width:800px;
    }

    .col
    {
        margin:0px !important;
    }
}
